@import '../../styles/mixins';

.rating {
    width: 220px;

    &_stars {
        display: flex;
        flex-direction: row !important;
        gap: 5%;

        img {
            width: 15px;
            height: 15px;
        }
    }

    // ---------------- //
    // -- Responsive -- //
    // ---------------- //
    @include tabletMinBreakPoint {
        &__stars {
            justify-content: flex-end;
        }

        img {
            width: auto;
            height: auto;
        }
    }
}
