@import '../../styles/mixins';
@import '../../styles/variables';

.home {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // ------------------- //
    // ---- Responsive --- //
    // ------------------- //
    @include tabletMinBreakPoint {
        width: $screen-tablet;
    }
    @include laptopMinBreakPoint {
        width: $screen-laptop;
    }
    @include largeMinBreakPoint {
        width: $screen-large;
    }
}
